<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <!-- Line to connect to the main base -->
  <add name="ConnectionString2" connectionString="Server=localhost;Port=3307;Database=db_chatsite;Uid=root;Pwd=123456;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
